/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.main-bg{
    background-color: rgb(221, 220, 219)!important;
}
.main-font{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.logo-font{
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}
.normal-text{
    text-transform: none!important;
}
.bg-reddit{
    background-color: #FF5700!important;
}
.bg-insta{
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4)!important;

}